<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>                                        <%#headerタグパーシャル挿入%>
    <%= render 'layouts/shim' %>                                                 <%#IE9以下用shimパーシャル挿入%>
  </head>
  <body>
    <%= render 'layouts/header' %>                                               <%#headerパーシャル挿入%>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>                                             <%#フッターパーシャル挿入%>
    </div>
  </body>
</html>